{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about">
    <div class="about-content">
        <h1>About us</h1>
        <p>Welcome to Qassim Animal Rescue!</p>
        <div class="about-frames">
            <div class="about-frame">
                <h2>Our Story</h2>
                <p>Founded in 2016, Qassim Animal Rescue is a passionate group of animal lovers dedicated to making a difference in the lives of our furry friends. Our journey began with a simple yet powerful idea: to create a safe haven for animals in need right here in the heart of Qassim.</p>
            </div>
            <div class="about-frame">
                <h2>Our Mission</h2>
                <p>At Qassim Animal Rescue, our mission is clear: to rescue, rehabilitate, and re-home animals. We believe that every life matters, whether it's a playful kitten, a loyal dog, or a gentle rabbit. Our commitment extends beyond mere rescue; we strive to provide medical care, emotional support, and a second chance at life for each precious soul that crosses our path.</p>
            </div>
            <div class="about-frame">
                <h2>What Drives Us</h2>
                <p>Our founder, Maram, is the heartbeat of our organization. Driven by an unwavering love for animals, they embarked on this journey with a vision to create a better world for our four-legged companions. Their tireless efforts have inspired our team and community to join hands in this noble cause.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
